<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softbankrobotics.sample.returntomapframe">

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".introduction.IntroductionActivity">

        </activity>
        <activity android:name=".menu.MenuActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".mapping.MappingActivity" />
        <activity android:name=".localization.LocalizationActivity" />
        <activity android:name=".freeframes.GoToWorldTutorialActivity" />
        <activity android:name=".GotoAB.GotoActivity" />
        <activity android:name=".GotoAB.GotoPointActivity" />
    </application>

</manifest>